*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

header{
    background: purple;
    padding: 20px;
}



main{
    margin: 20px;
}


main div{
    border: 1px solid;
    border-radius: 10px;
}

h1{
    background: purple;
    color: white;
}

h2{
    margin: 20px;
    padding: 20px;
}

button{
    margin: 20px;
    padding: 20px;
    background: white;border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

input{
    padding: 10px;
    margin: 20px;
}